@model FITorg.Web.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_LayoutLogin";
    var poruka = (string)TempData["poruka"];

}
@if (poruka != null)
{
    <div class="alert alert-success" role="alert" id="porukaBox">
        @poruka
    </div>
}



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" asp-action="ChangePassword" method="post">
                <input hidden="hidden" asp-for="UserId" value="@Model.UserId" />
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Unesite password: </label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.StariPW" class="form-control" placeholder="Password" required />
                        <span asp-validation-for="StariPW" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Novi password: </label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.NoviPW" class="form-control" placeholder="New password" required />
                        <span asp-validation-for="@Model.NoviPW" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Potvrdite novi: </label>
                    <div class="col-sm-7">
                        <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm password" required />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" class="login100-form-btn">
                        Change password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
