@model FITorg.Web.Areas.AdminUser.ViewModels.AdministratoriDodajVM
@{
    ViewData["Title"] = "Fitorg";
    Layout = "_LayoutAdmin";
    var poruka = (string)TempData["poruka"];

}
@if (poruka != null)
{
    <div class="alert alert-success" role="alert" id="porukaBox">
        @poruka
    </div>
}
<h2>Uredite @Model.Ime @Model.Prezime</h2>
<form asp-action="Snimi" asp-controller="Administratori" method="post">
    <input type="hidden" value="@Model.AdminID" name="AdminID" />
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.Ime">Ime</label>
                <input asp-for="@Model.Ime" class="form-control  col-md-12" type="text" placeholder="@Model.Ime " required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.Prezime">Prezime</label>
                <input asp-for="@Model.Prezime" class="form-control  col-md-12" type="text" placeholder="@Model.Prezime" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <label asp-for="@Model.Email">E-mail</label>
                <input asp-for="@Model.Email" class="form-control  col-md-12" type="email" placeholder="@Model.Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.BrojMob">Broj mobitela</label>
                <input asp-for="@Model.BrojMob" class="form-control  col-md-12" type="text" placeholder="@Model.BrojMob" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.DatumRodjenja">Datum rođenja</label>
                <input asp-for="@Model.DatumRodjenja" class="form-control  col-md-12" type="date" placeholder="@Model.DatumRodjenja" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.GradId">Grad</label>
                <select asp-for="@Model.GradId" asp-items="@Model.GradoviItems" class="form-control col-md-12">
                    <option value="">Odaberite grad</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.SpolId">Spol</label>
                <select asp-for="@Model.SpolId" asp-items="@Model.SpolItems" class="form-control col-md-12">
                    <option value="">Odaberite spol</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 form-group">
                <label asp-for="@Model.IzjavaOZastitiPodatak">Izjava</label>
                <textarea rows="4" asp-for="@Model.IzjavaOZastitiPodatak" class="form-control  col-md-12" value="@Model.IzjavaOZastitiPodatak" type="text" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Spremi</button>
    </div>
</form>

